  <div class="container-fluid">
  <h1>All Topics</h1>
  <div class="row">
    <div class="col-md-9">
      <% @topics.each do |topic| %>
        <p><%= link_to topic.title, topic %></p>

        <% end %>
    </div>
    <div class="col-md-3">
      <div class="nav pull_right">
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success'%>
      </div>
    </div>
  </div>
</div>
